<div class="bg-white d-flex align-items-stretch min-height-100 h-100">
  <div class="d-none d-md-inline-flex col-md-4 col-lg-4"></div>
  <div class="card card-body mb-0 rounded-0 p-5 col-sm-12 col-md-4 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <p style="text-align: center;"><img src="assets/images/ico.png" class="avatar-lg mb-1" alt="Minpostel icon"><br>
          <span style="font-size: 9px;">
            MINISTERE DES POSTES ET TELECOMMUNICATIONS
          </span></p>
          <p style="text-align: center;"><span style="font-family: 'Segoe UI'; font-weight: bold;">GESTION ELECTRONIQUE DE LA DOCUMENTATION</span></p>
      </div>
      <div style="background: #D4E0EA; padding: 30px 50px;">
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}">
        <label for="username" class="form-control-label" style="font-weight: bold; color:#707070;">
          Identifiant
        </label>
        <input type="text" class="form-control" placeholder="" [formControl]="form.controls['uname']" [ngClass]="{'form-control-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}"/>
        <div class="form-control-feedback" *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched" style="color:red;"><i>Identifiant requis</i></div>
      </fieldset>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}">
        <label for="password" class="form-control-label" style="font-weight: bold; color:#707070;">
          Mot de passe
        </label>
        <input type="password" class="form-control" placeholder="" [formControl]="form.controls['password']" [ngClass]="{'form-control-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}"/>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" style="color:red;"><i>Mot de passe requis</i></div>
        <a [routerLink]="['/authentication/forgot']" class="form-text"><small>(Mot de passe oublié?)</small></a>
      </fieldset>
      <div class="block"></div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Connexion</button>
      </div>
    </form>
  </div>
  <div class="d-none d-md-inline-flex col-md-4 col-lg-4"></div>
</div>
