<style type="text/css">
	div.container-fluid, div.container{
		margin: 0 !important;
		padding: 0 !important;
	}
	a.nav-item, div.nav-item{
		width: 16.66%!important; text-align: center!important;
		vertical-align: middle!important;

	}
	a.active{
		background: #065A8F!important;
		color: #ffffff!important;
	}
	i.material-icons{
		vertical-align: middle!important;
	}
  input, select{
    border-radius: 0px!important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
    background: transparent!important;
  }
</style>

<div class="container-fluid">
	<!--Body part-->
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Poste/fonction</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Email</th>
      <th scope="col">Type de profil</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  <tr>
      <th scope="row">4</th>
      <td>Haider</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  <tr>
      <th scope="row">5</th>
      <td>Flinn</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  <tr>
      <th scope="row">6</th>
      <td>Stanley</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  <tr>
      <th scope="row">7</th>
      <td>Birdmann</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  <tr>
      <th scope="row">8</th>
      <td>Diana</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  <tr>
      <th scope="row">9</th>
      <td>Figtz</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  <tr>
      <th scope="row">10</th>
      <td>Einstein</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  <tr>
      <th scope="row">11</th>
      <td>Jean Bosco</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
			</div>
		</div>
	</div>

