<style type="text/css">
	a.nav-link{
    text-align: center!important;
		vertical-align: middle!important;
	}
	.active{
		background: #065A8F!important;
    background-image: linear-gradient(#065A8F, #cccccc 1%, #065A8F)!important;
	}
	i.widget-icon{
		vertical-align: middle!important;
	}
  input, select {
    border: 1px solid #cccccc!important;
    border-radius:0!important;
    background: transparent!important;
  }

</style>
<ng-sidebar-container class="app" [ngClass]="{'mode-boxed': isBoxed, 'sidebar-opened': isOpened, 'theme-light': theme == 'light', 'theme-dark': theme == 'dark', 'mode-push': _mode == 'push', 'mode-dock': _mode == 'dock', 'mode-over': _mode == 'over', 'mode-slide': _mode == 'slide', 'no-footer': options?.removeFooter, 'map-header': options?.mapHeader}">
  <ng-sidebar
    [(opened)]="isOpened"
    [(mode)]="_mode"
    [position]="'left'"
    [dockedSize]="'80px'"
    [autoCollapseWidth]="'991'"
    [closeOnClickOutside]="isOver()"
    [showBackdrop]="isOver()"
    [sidebarClass]="'sidebar-panel'" #sidebar>
    <nav class="navbar custom-navbar main-brand" style="background-image: linear-gradient(#267CB5, #ececec 1%, #267CB5)!important; text-align: center!important;">
      <p class="navbar-brand mr-auto">
        <span class="docked-hidden" style="cursor: default; font-weight: lighter;">&nbsp;MINPOSTEL</span>
      </p>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="javascript:;" class="nav-link" (click)="toogleSidebar()">
            <i class="hamburger-icon v2" *ngIf="_mode === 'over' && !isOver()">
              <span></span>
            </i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- main navigation -->
    <nav class="menu bg-white">
      <ul class="navigation" appAccordion style="height: 100%!important; border: 1px solid #cccccc;">
        <li class="navigation-item" style="text-align: center;">
          <div class="container-fluid" style="margin-top: 30px; background: url('assets/images/ico.png'); height: 150px; width: 150px; background-repeat: no-repeat; background-size: contain;"></div>
        </li>
        <li class="navigation-item">
          <div class="container-fluid">
				<div class="form-group">
					<p style="padding: 10px; color: #ffffff; font-weight: bolder; background-image: linear-gradient(#267CB5, #ececec 1%, #267CB5);">Rechercher...</p>

					<p><select class="form-control form-control-sm" id="">
				      <option>DOCUMENTS ORGANISATIONNELS</option>
				      <option>ACTES DE CARRIERE</option>
				      <option>CORRESPONDANCE</option>
				      <option>RESSOURCES FINANCIERES</option>
				      <option>AUTRES</option>
            </select>
          </p>

				    <!--DOCUMENTS ORGANISATIONNELS-->
				  <p><select class="form-control form-control-sm" id="" style="display: none!important;">
				      <option>Organigramme</option>
				      <option>Rapport des travaux des services centraux, déconcentrés et structures sous tutelle</option>
				      <option>Procès-verbaux des conseils d'administration des sociétés sous tutelle</option>
				      <option>Directives ministérielles(Décrets Arrêtés circulaires, notes, décisions)</option>
				      <option>Délégation de pouvoirs de signature</option>
				      <option>Bilan présenté par le DG lors de la présentation des voeux</option>
				      <option>Discours du Ministre lors des évènements</option>
				      <option>Compte rendu des réunions</option>
				      <option>Actes(nomination/affectation)</option>
            </select>
          </p>

				    <!--CATEGORIE ACTES DE CARRIERE-->
				  <p><select class="form-control form-control-sm" id="" style="display: none!important;">
				      <option>Recrutement</option>
				      <option>Grade, échelons, reclassement</option>
				      <option>Congés(administratif, annuel, biennal, maternité)</option>
				      <option>Certificats/ et attestations/attestations d'emploi/attestation cessation de service/attestation de mise en retraite/certificat de travail/attestation d'ancienneté(présence effective, reprise service, prise de service)</option>
				      <option>Stages(autorisation de mise en stage, rapport de stage)</option>
          </select></p>

				    <!--CATEGORIE CORREESPONDANCE-->
				  <p><select class="form-control form-control-sm" id="" style="display: none!important;">
				      <option>Correspondances(arrivée/départ)</option>
				      <option>Notes</option>
            </select>
          </p>

				    <!--CATEGORIE RESSOURCES FINANCIERES-->
          <p><select class="form-control form-control-sm" id="" style="display: none!important;">
				      <option>Documents comptables(bilan, audits, rapports, des controles budgetaires, compte d'exploitation, livre d'inventaire, bon de commande, lettre commande, marché, Délégation de pouvoirs de signature, Dossier d'appel d'offre, Agrément/convention, Approvisionnement et transfert de ligne)</option>
				      <option>Documents fiscaux(impot, tva)<option>
				      <option>Investissemnt(Acquisition, cession, participation)</option>
				      <option>Contrats commerciaux(contrat d'assurance, contrat de fournisseur)</option>
				      <option>Fiche récapitulative des mandats transmis</option>
				      <option>Documents comptables budget annexe(frais de déplacement, frais médicaux, entretien des biens mobiliers et immobiliers, Ventes et disposition des biens mobiliers et immobiliers, Contrats de baux, Construction batiment, Construction de lignes téléphoniques)</option>
          </select></p>

				    <!--CATEGORIE AUTRES-->
        <p><select class="form-control form-control-sm" id="" style="display: none!important;">
				      <option>Devis et plan</option>
				      <option>bordereau de transmission</option>
            </select>
        </p>
          <p><input class="form-control form-control-sm" type="date" placeholder="Date d'ajout"></p>
          <p><input class="form-control form-control-sm" type="number" placeholder="Nombre de pages"></p>
          <p><input class="form-control form-control-sm" type="text" placeholder="Signataire"></p>
				</div>
	        </div>
        </li>

        <!--Minpostel credit-->
      <nav class="navbar custom-navbar navbar-light main-footer small">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://www.minpostel.gov.cm">
                    <span class="ff-headers text-uppercase">MINPOSTEL - </span> Tous les droits reservés
            </a>
          </li>
        </ul>
      </nav>

      </ul>

    </nav>
    <!-- /main navigation -->
  </ng-sidebar>

  <div ng-sidebar-content class="app-inner">

    <!--navigation menu on top-->
    <nav class="navbar custom-navbar main-header" style="background-image: linear-gradient(#267CB5, #ececec 1%, #267CB5);">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="javascript:;" class="nav-link" (click)="toogleSidebar()">
            <i _ngcontent-c5 class="hamburger-icon v2">
                <span></span>
            </i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav" style="text-align: center;">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/dashboard">
            <i class="widget-icon icon icon-arrows-squares"></i>  Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="active" routerLink="/employee">
            <i class="widget-icon icon icon-basic-gear"></i> Utilisateurs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="active" routerLink="/docs">
            <i class="widget-icon icon icon-basic-sheet-txt"></i> Documents
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="active" routerLink="/mouvment">
            <i class="widget-icon icon icon-arrows-switch-horizontal"></i> Mouvements
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="active" routerLink="/stockage">
            <i class="widget-icon icon icon-basic-server2"></i> Stockage
          </a>
        </li>
        <li class="nav-item" style="padding: 0 20px!important;">
          <span class="nav-divider" style="background:#FFFFFF;"></span>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#">
            <i class="widget-icon icon icon-basic-mail"></i>
          </a>
        </li>
        <!--nav-bar user connected-->
        <li class="nav-item" ngbDropdown placement="bottom-right" style="margin-right: 15px!important;">
          <a href="javascript:;" class="nav-link" ngbDropdownToggle>
            <img src="assets/images/avatar.jpg" class="navbar-avatar rounded-circle" alt="user" title="user">
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:;">
              <span>Utilisateur</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;">
              <span>Mes taches</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;">
              <button type="button" style="cursor: pointer!important; padding: 5px!important;" class="btn btn-danger">déconnexion</button>
            </a>
          </div>
        </li>
      </ul>
    </nav><!--End navigation menu-->

    <!--Footer-->
    <div class="main-content">
      <router-outlet></router-outlet>
      <nav class="navbar custom-navbar navbar-light main-footer small">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:;">
              <span>Design By Jean Bosco Mengue</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav hidden-xs-down" style="display: none;">
          <li class="nav-item">
            <a class="nav-link" href="javascript:;">Made with love on Earth</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</ng-sidebar-container>
