<style type="text/css">
	button{
		border-radius: 0;
		background: #CCCCCC;
		margin-right: 30px;
	}

	i.material-icons{
		vertical-align: middle;
	}

	td, th{
		text-align: center;
	}

</style>

<div class="container-fluid" style=" border-bottom: 1px solid #cccccc; padding: 20px;">
		<p><button type="button" class="btn-sm">Ajouter profil</button>
		<button type="button" class="btn-sm">Supprimer profil</button></p>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<h4 style="padding: 20px; border-bottom: 1px solid #CCCCCC; font-weight: lighter!important; margin-bottom: 20px;">Profils utilisateurs</h4>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

				<table class="table table-striped">
								  <thead>
								    <tr>
								      <th scope="col" style="text-align: left;">Profil</th>
								      <th scope="col">Gestion des utilisateurs</th>
								      <th scope="col">Gestion des documents</th>
								      <th scope="col">Gestion du stokage</th>
								      <th scope="col">Gestion des mouvements</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <th scope="row" style="text-align: left;"><i class="widget-icon icon icon-basic-gear"></i> admin</th>
								      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
								      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
								      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
								      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
								    </tr>
								    <tr>
								      <th scope="row" style="text-align: left;"><i class="widget-icon icon icon-basic-gear"></i> archiviste</th>
								      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
								      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
								      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
								      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
								    </tr>
								    <tr>
								      <th scope="row" style="text-align: left;"><i class="widget-icon icon icon-basic-gear"></i> STANDARD</th>
								      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
								      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
								      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
								      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
								    </tr>
								  </tbody>
				</table>

			</div>
		</div>
	</div>
