<style>
  .icon-bg {
    background-image: linear-gradient(#065A8F, #cccccc 1%, #065A8F)!important;
  }
</style>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle text-white icon icon-basic-sheet-txt icon-bg">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          576
        </h5>
        <small class="text-uppercase ">
          <strong>Documents</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle text-white icon icon-basic-spread-text icon-bg">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          99
        </h5>
        <small class="text-uppercase ">
          <strong>Documents consultés</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle text-white icon icon-basic-archive-full icon-bg">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          46
        </h5>
        <small class="text-uppercase ">
          <strong>Boites</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle text-white icon icon-basic-server2 icon-bg">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          7
        </h5>
        <small class="text-uppercase ">
          <strong>Armoires</strong>
        </small>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Statistiques des consultations
          </div>
          <div class="card-subtitle text-capitalize ff-sans" style="color: #065A8F;">
            <i>Decembre 2018</i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row text-center">
          <div class="col-xs-6 col-sm-3">
            <h5 class="mb-0">
              <strong>
                34
              </strong>
            </h5>
            <small>
              Documents organisationnels
            </small>
          </div>
          <div class="col-xs-6 col-sm-3">
            <h5 class="mb-0">
              <strong>
                50
              </strong>
            </h5>
            <small>
              Correspondances
            </small>
          </div>
          <div class="col-xs-6 col-sm-3">
            <h5 class="mb-0">
              <strong>
                45
              </strong>
            </h5>
            <small>
              Actes de carrière
            </small>
          </div>
          <div class="col-xs-6 col-sm-3">
            <h5 class="mb-0">
              <strong>
                20
              </strong>
            </h5>
            <small>
              Ressources financières
            </small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-area-chart-stacked (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [curve]="curve" [gradient]="gradient" [legend]="showLegend" [results]="dateData" [roundDomains]="roundDomains" [scheme]="colorScheme" [schemeType]="schemeType" [showGridLines]="showGridLines" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [timeline]="timeline" [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [xAxisLabel]="xAxisLabel" [yAxis]="showYAxis" [yAxisLabel]="yAxisLabel" class="line-container">
        </ngx-charts-area-chart-stacked>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Documents par département
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            <i>Date: Decembre 2018</i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row text-center">
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-0">
              <strong>
                34
              </strong>
            </h5>
            <small>
              DRPT
            </small>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-0">
              <strong>
                21
              </strong>
            </h5>
            <small>
              DIR
            </small>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-0">
              <strong>
                28
              </strong>
            </h5>
            <small>
              DIER
            </small>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-0">
              <strong>
                34
              </strong>
            </h5>
            <small>
              DAG
            </small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-gauge (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [angleSpan]="gaugeAngleSpan" [bigSegments]="gaugeLargeSegments" [legend]="showLegend" [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null" [max]="gaugeMax" [min]="gaugeMin" [results]="single" [scheme]="colorScheme" [showAxis]="gaugeShowAxis" [smallSegments]="gaugeSmallSegments" [startAngle]="gaugeStartAngle" [textValue]="gaugeTextValue" [tooltipDisabled]="tooltipDisabled" [units]="gaugeUnits" class="gauge-container">
        </ngx-charts-gauge>
      </div>
    </div>
  </div>
</div>

<!--row-->
<div class="row">
  <!--first TODOS-->
  <div class="col-lg-5">
    <div class="card card-inverse text-white" style="background-image: linear-gradient(#065A8F, #cccccc 1%, #065A8F)!important;">
      <div class="card-header">
        Mes taches
      </div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                Ajouter nouveau boites dans nouvel armoire
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox"/>
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                Faire l'inventaire du nombre de boites
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox">
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                Vérifier les requettes de consultations
              </span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--second-->
    <div class="col-lg-3">
        <div class="card">
        </div>
    </div>

  <!--Third-->
  <div class="col-lg-4">
    <div class="card no-bg">
    </div>
  </div>
</div><!--End of the row-->
